.itemContainer {
    margin-bottom: 2vh; 
}

.itemContainer__imageContainer {
    display: flex;
    justify-content: center;
}

.imageContainer__image {
    box-shadow: 10px 15px 20px rgba(34, 99, 212, 0.3);
}

.itemContainer__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3vh;
    min-height: 15vh;
}

.description__title {
    font-size: 1.3rem;
    color: #0d153f;
}

.description__parr {
    margin-top: 0.5vh;
}

.textContainer__price {
    margin-top: 1.5vh;
}


/*-----------------------
# Media Queries   
-------------------------*/
@media only screen and (max-width:600px) {

    .imageContainer__image {
        height: 45vh;
    }
}
  
@media only screen and (min-width:600px) {
  
    .imageContainer__image {
        height: 50vh;
    }
}

@media only screen and (min-width:992px) {
  
    .imageContainer__image {
        height: 40vh;
    }
}

@media only screen and (min-width:1400px) {
  
    .imageContainer__image {
        height: 50vh; 
    }
}