.itemContainer {
    width: 20vw;
    margin: 0 1vw 0 1vw;
}

.itemContainer__imageContainer {
    display: flex;
    justify-content: center;
}

.imageContainer__image {
    height: 50vh;
    width: auto;
    box-shadow: 10px 15px 20px rgba(34, 99, 212, 0.3);
}

.itemContainer__textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3vh;
    min-height: 15vh;
}

.description__title {
    font-size: 1.5rem;
}