.navigationBar {
    position: sticky;
    top: 0;
}

.link, .itemLink {
    text-decoration: none;
}

.link {
    font-family: 'Sniglet', cursive;
}

.itemLink {
    margin: 0 0.5vw 0 0.5vw;
    color: #afada6;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
}

.itemLink:hover {
    color: #d1cfc7;
}

.cartLink {
    color: #d1cfc7;
}

.cartLink:hover {
    color: #ebe9e3;
}