.itemCountContainer {
    margin: 0 2vw 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCountContainer__countContainer {
    display: flex;
    justify-content: center;
    margin: 4vh 0 3vh 0;
}

.countContainer__btn {
    border-radius: 8px;
    background-color: #e63946;
    color: #e9ecef;
    font-weight: 600;
}

.countContainer__text {
    margin-right: 1vw;
}

.itemCountContainer__addBtn {
    margin-bottom: 1vh;
}

.itemCountContainer__addBtn {
    background-color: #2d3142;
    color: #e9ecef;
}


/*-----------------------
# Media Queries   
-------------------------*/
@media only screen and (max-width:600px) {
    
    .itemCountContainer__addBtn {
        width: 45vw;
        height: 5vh;
        border-radius: 10px;
    }

    .countContainer__btn {
        width: 7vw;
        margin: 0 1vw 0 1vw;
    }
}

@media only screen and (min-width:600px) {
    
    .itemCountContainer__addBtn {
        width: 28vw;
        height: 4vh;
        border-radius: 10px;
    }

    .countContainer__btn {
        width: 4vw;
        margin: 0 0.7vw 0 0.7vw;
    }
}

@media only screen and (min-width:992px) {

    .itemCountContainer__addBtn {
        width: 15vw;
        height: 5vh;
        border-radius: 12px;
    }

    .countContainer__btn {
        width: 3vw;
        margin: 0 0.5vw 0 0.5vw;
    }
}

@media only screen and (min-width:1200px) {
    
    .itemCountContainer__addBtn {
        width: 10vw;
    }

    .countContainer__btn {
        width: 2vw;
        margin: 0 0.3vw 0 0.3vw;
    }
}